.home {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
}

.headerContainer {
  width: auto;
  margin-left: 30px;
}

.home .headerContainer h1 {
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 70px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: black;
}

.headerContainer p {
  margin-top: 15px;
  padding: 0;
  font-size: 40px;
  font-weight: lighter;
  color: black;
}

@media only screen and (max-width: 600px) {
  .home {
    justify-content: center;
    align-items: center;
  }

  .headerContainer {
    margin-left: 0;
    border-radius: 10px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #121619;
    color: white;
  }

  .home .headerContainer h1 {
    font-size: 40px;
    height: 30px;
    margin: 15px 0;
    color: white;
  }
 
  .home .headerContainer p {
    font-size: 30px;
    color: white;
  }

  .headerContainer button {
    background-color: white;
    color: #121619;
    margin-block: 30px;
    padding: 10px;
    border-radius: 10px;
    font-weight: bolder;
    font-size: larger;
  }
}

.headerContainer button {
    background-color: #121619;
    color: white;
    margin-block: 30px;
    padding: 15px;
    padding-block: 18px;
    border-radius: 10px;
    font-weight: bolder;
  }
